body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: rgb(97, 8, 97);
  background-color: #f8f8f8;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
